<div *ngIf="pumpSignal" class="container-fluid row align-content-center">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <div class="col-12 row">
    <div class="col-12 display-4 row">
      {{pumpSignal.symbol}} - {{pumpSignal.currentPrice}}
      <button (click)="updateData()" mat-button color="primary" >Update Data</button>
    </div>
  </div>
  <div class="col-4">
    <h4 class="col-12 lead">Future Prices</h4>
    <table class="table col-12 small">
      <thead class="thead-dark">
      <tr>
        <th> After </th>
        <th> Price </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td> 2 min </td>
        <td> {{pumpSignal.futurePrices["2"]}} </td>
      </tr>
      <tr>
        <td> 5 min </td>
        <td> {{pumpSignal.futurePrices["5"]}} </td>
      </tr>
      <tr>
        <td> 15 min </td>
        <td> {{pumpSignal.futurePrices["15"]}} </td>
      </tr>
      <tr>
        <td> 30 min </td>
        <td> {{pumpSignal.futurePrices["30"]}} </td>
      </tr>
      <tr>
        <td> 60 min </td>
        <td> {{pumpSignal.futurePrices["60"]}} </td>
      </tr>
      <tr>
        <td> 240 min </td>
        <td> {{pumpSignal.futurePrices["240"]}} </td>
      </tr>
      <tr>
        <td> 1440 min </td>
        <td> {{pumpSignal.futurePrices["1440"]}} </td>
      </tr>
      <tr>
        <td> 2880 min </td>
        <td> {{pumpSignal.futurePrices["2880"]}} </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-4">
    <h4 class="col-12 lead">Buy Sell Volume</h4>
    <table class="table col-12 small">
      <thead class="thead-dark">
      <tr>
        <th> TimeFrame </th>
        <th> Buy (BTC) </th>
        <th> Sell (BTC) </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td> 15 min </td>
        <td> {{pumpSignal.recentBuyVolume["15"]}} </td>
        <td> {{pumpSignal.recentSellVolume["15"]}} </td>
      </tr>
      <tr>
        <td> 30 min </td>
        <td> {{pumpSignal.recentBuyVolume["30"]}} </td>
        <td> {{pumpSignal.recentSellVolume["30"]}} </td>
      </tr>
      <tr>
        <td> 60 min </td>
        <td> {{pumpSignal.recentBuyVolume["60"]}} </td>
        <td> {{pumpSignal.recentSellVolume["60"]}} </td>
      </tr>

      </tbody>
    </table>
    <table class="table col-12 small">
      <thead class="thead-dark">
      <tr>
        <th> TimeFrame </th>
        <th> Buy ({{pumpSignal.symbol.replace("BTC","")}}) </th>
        <th> Sell ({{pumpSignal.symbol.replace("BTC","")}}) </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td> 15 min </td>
        <td> {{pumpSignal.recentBuySymbolVolume["15"]}} </td>
        <td> {{pumpSignal.recentSellSymbolVolume["15"]}} </td>
      </tr>
      <tr>
        <td> 30 min </td>
        <td> {{pumpSignal.recentBuySymbolVolume["30"]}} </td>
        <td> {{pumpSignal.recentSellSymbolVolume["30"]}} </td>
      </tr>
      <tr>
        <td> 60 min </td>
        <td> {{pumpSignal.recentBuySymbolVolume["60"]}} </td>
        <td> {{pumpSignal.recentSellSymbolVolume["60"]}} </td>
      </tr>

      </tbody>
    </table>
  </div>
  <div class="col-12 row">
    <h4 class="col-12 lead">recent price Prices</h4>
    <div class="col-4 align-content-lg-center">
      <h5 class="col-12 lead"> 1 day</h5>
      <div class="col-12">
        <google-chart [data]="chart_1440min"></google-chart>
      </div>
      <div class="col-12">
        <google-chart [data]="VOL_1440min"></google-chart>
      </div>
      <div class="col-12">
        <google-chart [data]="RSI_1440min"></google-chart>
      </div>
      <div class="col-12">
        <google-chart [data]="MACD_1440min"></google-chart>
      </div>
      <div class="col-12">
        <google-chart [data]="STOCH_1440min"></google-chart>
      </div>
    </div>
    <div class="col-4">
      <h5 class="col-12 lead"> 4 hour</h5>
      <div class="col-12">
        <google-chart [data]="chart_240min"></google-chart>
      </div>
      <div class="col-12">
        <google-chart [data]="VOL_240min"></google-chart>
      </div>
      <div class="col-12">
        <google-chart [data]="RSI_240min"></google-chart>
      </div>
      <div class="col-12">
        <google-chart [data]="MACD_240min"></google-chart>
      </div>
      <div class="col-12">
        <google-chart [data]="STOCH_240min"></google-chart>
      </div>
    </div>
    <div class="col-4">
      <h5 class="col-12 lead"> 2 hour</h5>
      <div class="col-12">
        <google-chart [data]="chart_120min"></google-chart>
      </div>
      <div class="col-12">
        <google-chart [data]="VOL_120min"></google-chart>
      </div>
      <div class="col-12">
        <google-chart [data]="RSI_120min"></google-chart>
      </div>
      <div class="col-12">
        <google-chart [data]="MACD_120min"></google-chart>
      </div>
      <div class="col-12">
        <google-chart [data]="STOCH_120min"></google-chart>
      </div>
    </div>
    <div class="col-4">
      <h5 class="col-12 lead"> 1 hour</h5>
      <div class="col-12">
        <google-chart [data]="chart_60min"></google-chart>
      </div>
      <div class="col-12">
        <google-chart [data]="VOL_60min"></google-chart>
      </div>
      <div class="col-12">
        <google-chart [data]="RSI_60min"></google-chart>
      </div>
      <div class="col-12">
        <google-chart [data]="MACD_60min"></google-chart>
      </div>
      <div class="col-12">
        <google-chart [data]="STOCH_60min"></google-chart>
      </div>
    </div>
    <div class="col-4">
      <h5 class="align-content-lg-center lead"> 30 min</h5>
      <div class="col-12">
        <google-chart [data]="chart_30min"></google-chart>
      </div>
      <div class="col-12">
        <google-chart [data]="VOL_30min"></google-chart>
      </div>
      <div class="col-12">
        <google-chart [data]="RSI_30min"></google-chart>
      </div>
      <div class="col-12">
        <google-chart [data]="MACD_30min"></google-chart>
      </div>
      <div class="col-12">
        <google-chart [data]="STOCH_30min"></google-chart>
      </div>
    </div>
    <div class="col-4">
      <h5 class="col-12 lead"> 15 min</h5>
      <div class="col-12">
        <google-chart [data]="chart_15min"></google-chart>
      </div>
      <div class="col-12">
        <google-chart [data]="VOL_15min"></google-chart>
      </div>
      <div class="col-12">
        <google-chart [data]="RSI_15min"></google-chart>
      </div>
      <div class="col-12">
        <google-chart [data]="MACD_15min"></google-chart>
      </div>
      <div class="col-12">
        <google-chart [data]="STOCH_15min"></google-chart>
      </div>
    </div>
    <div class="col-4">
      <h5 class="col-12 lead"> 5 min</h5>
      <div class="col-12">
        <google-chart [data]="chart_5min"></google-chart>
      </div>
      <div class="col-12">
        <google-chart [data]="VOL_5min"></google-chart>
      </div>
      <div class="col-12">
        <google-chart [data]="RSI_5min"></google-chart>
      </div>
      <div class="col-12">
        <google-chart [data]="MACD_5min"></google-chart>
      </div>
      <div class="col-12">
        <google-chart [data]="STOCH_5min"></google-chart>
      </div>
    </div>
    <div class="col-4">
      <h5 class="col-12 lead"> 1 min</h5>
      <div class="col-12">
        <google-chart [data]="chart_1min"></google-chart>
      </div>
      <div class="col-12">
        <google-chart [data]="VOL_1min"></google-chart>
      </div>
      <div class="col-12">
        <google-chart [data]="RSI_1min"></google-chart>
      </div>
      <div class="col-12">
        <google-chart [data]="MACD_1min"></google-chart>
      </div>
      <div class="col-12">
        <google-chart [data]="STOCH_1min"></google-chart>
      </div>
    </div>


  </div>
</div>
