<div class="example-container mat-elevation-z8">
  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter ( please input full symbol name . ex : BCCBTC )">
    </mat-form-field>
    <!--<mat-form-field>-->
      <!--<input matInput [matDatepicker]="start" [(ngModel)]="startDate" placeholder="Choose a start date">-->
      <!--<mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>-->
      <!--<mat-datepicker #start></mat-datepicker>-->
    <!--</mat-form-field>-->
    <!--<mat-form-field>-->
      <!--<input matInput [matDatepicker]="end" [(ngModel)]="endDate" placeholder="Choose a end date">-->
      <!--<mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>-->
      <!--<mat-datepicker #end></mat-datepicker>-->
    <!--</mat-form-field>-->
    <!--<button mat-raised-button (click)="filterByDate()" color="primary">Filter by Date</button>-->
  </div>
  <mat-table #table [dataSource]="dataSource" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->


    <!-- Name Column -->

    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
    </ng-container>

    <!-- Age Column -->
    <ng-container matColumnDef="dateTime">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Time </mat-header-cell>
      <mat-cell *matCellDef="let element" > {{element.dateTime | date:'long'}} </mat-cell>
    </ng-container>

    <!-- Grade Column -->
    <ng-container matColumnDef="currentPrice">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Current Price (BTC)</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.currentPrice }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="volume">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Volume </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.volume | number : '1.2-2'}} ( {{element.symbol.replace('BTC','')}} ) </mat-cell>
    </ng-container>

    <ng-container matColumnDef="quoteVolume">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Quote Volume (BTC)</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.quoteVolume}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Action</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" (click)="analyze(element.symbol,element.dateTime)">Analyze</button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
