<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter ( please input full symbol name . ex : BCCBTC )">
    </mat-form-field>
    <mat-checkbox (change)="refreshTable()" [(ngModel)]="showCanPredictOnly">Show coin can predicted</mat-checkbox>
    </div>
  <mat-table #table  [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="symbolSignal">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.symbol}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="1440">
      <mat-header-cell *matHeaderCellDef mat-sort-header> 1 Day </mat-header-cell>
      <mat-cell *matCellDef="let element" >
        <mat-chip-list class="mat-chip-list-stacked">
          <mat-chip *ngFor="let signal of element.bullishSignal['1440']" [color]="signal.includes('Rsi Bull divergence') ? 'accent' : (signal.includes('ALMOST_CROSS') ? '' : 'primary')" selected="true">
            {{signal.toLowerCase()}}
          </mat-chip>
        </mat-chip-list>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="240">
      <mat-header-cell *matHeaderCellDef mat-sort-header> 4h </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-chip-list class="mat-chip-list-stacked">
          <mat-chip *ngFor="let signal of element.bullishSignal['240']" [color]="signal.includes('Rsi Bull divergence') ? 'accent' : (signal.includes('ALMOST_CROSS') ? '' : 'primary')" selected="true">
            {{signal.toLowerCase()}}
          </mat-chip>
        </mat-chip-list>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="120">
      <mat-header-cell *matHeaderCellDef mat-sort-header> 2h </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-chip-list class="mat-chip-list-stacked">
          <mat-chip *ngFor="let signal of element.bullishSignal['120']" [color]="signal.includes('Rsi Bull divergence') ? 'accent' : (signal.includes('ALMOST_CROSS') ? '' : 'primary')" selected="true">
            {{signal.toLowerCase()}}
          </mat-chip>
        </mat-chip-list>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="60">
      <mat-header-cell *matHeaderCellDef mat-sort-header> 1h </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-chip-list class="mat-chip-list-stacked">
          <mat-chip *ngFor="let signal of element.bullishSignal['60']" [color]="signal.includes('Rsi Bull divergence') ? 'accent' : (signal.includes('ALMOST_CROSS') ? '' : 'primary')" selected="true">
            {{signal.toLowerCase()}}
          </mat-chip>
        </mat-chip-list>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="30">
      <mat-header-cell *matHeaderCellDef mat-sort-header> 30 min</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-chip-list class="mat-chip-list-stacked">
          <mat-chip *ngFor="let signal of element.bullishSignal['30']" [color]="signal.includes('Rsi Bull divergence') ? 'accent' : (signal.includes('ALMOST_CROSS') ? '' : 'primary')" selected="true">
            {{signal.toLowerCase()}}
          </mat-chip>
        </mat-chip-list>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="futurePrice">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Future Price</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-card-content *ngIf="element.priceAfter5min!=0">
          <div>After 5 min : {{element.priceAfter5min  | number : '1.2-8'}} - Change : <span [ngStyle]="{'color': ((element.priceAfter5min-element.currentPrice) > 0) ? 'green' : 'red' , 'font-weight':'bold'}">{{(element.priceAfter5min-element.currentPrice)*100/element.currentPrice  | number : '1.2-2'}}</span> %</div>
           <div>After 10 min : {{element.priceAfter10min  | number : '1.2-8'}} - Change : <span [ngStyle]="{'color': ((element.priceAfter10min-element.currentPrice) > 0) ? 'green' : 'red' , 'font-weight':'bold'}">{{(element.priceAfter10min-element.currentPrice)*100/element.currentPrice | number : '1.2-2'}}</span> %</div>
           <div>After 15 min : {{element.priceAfter15min  | number : '1.2-8'}} - Change : <span [ngStyle]="{'color': ((element.priceAfter15min-element.currentPrice) > 0) ? 'green' : 'red' , 'font-weight':'bold'}">{{(element.priceAfter15min-element.currentPrice)*100/element.currentPrice | number : '1.2-2'}}</span> %</div>
           <div>After 30 min : {{element.priceAfter30min  | number : '1.2-8'}} - Change : <span [ngStyle]="{'color': ((element.priceAfter30min-element.currentPrice) > 0) ? 'green' : 'red' , 'font-weight':'bold'}">{{(element.priceAfter30min-element.currentPrice)*100/element.currentPrice | number : '1.2-2'}}</span> %</div>
           <div>After 60 min : {{element.priceAfter60min  | number : '1.2-8'}} - Change : <span [ngStyle]="{'color': ((element.priceAfter60min-element.currentPrice) > 0) ? 'green' : 'red' , 'font-weight':'bold'}">{{(element.priceAfter60min-element.currentPrice)*100/element.currentPrice | number : '1.2-2'}}</span> %</div>
           <div>After 120 min : {{element.priceAfter120min  | number : '1.2-8'}} - Change : <span [ngStyle]="{'color': ((element.priceAfter120min-element.currentPrice) > 0) ? 'green' : 'red' , 'font-weight':'bold'}">{{(element.priceAfter120min-element.currentPrice)*100/element.currentPrice | number : '1.2-2'}}</span> %</div>
           <div>After 240 min : {{element.priceAfter240min  | number : '1.2-8'}} - Change : <span [ngStyle]="{'color': ((element.priceAfter240min-element.currentPrice) > 0) ? 'green' : 'red' , 'font-weight':'bold'}">{{(element.priceAfter240min-element.currentPrice)*100/element.currentPrice | number : '1.2-2'}}</span> %</div>
           <div>After 480 min : {{element.priceAfter480min  | number : '1.2-8'}} - Change : <span [ngStyle]="{'color': ((element.priceAfter480min-element.currentPrice) > 0) ? 'green' : 'red' , 'font-weight':'bold'}">{{(element.priceAfter480min-element.currentPrice)*100/element.currentPrice | number : '1.2-2'}}</span> %</div>
           <div>After 1440 min : {{element.priceAfter1440min  | number : '1.2-8'}} - Change : <span [ngStyle]="{'color': ((element.priceAfter1440min-element.currentPrice) > 0) ? 'green' : 'red' , 'font-weight':'bold'}">{{(element.priceAfter1440min-element.currentPrice)*100/element.currentPrice | number : '1.2-2'}}</span> %</div>
           <div>After 2480 min : {{element.priceAfter2480min  | number : '1.2-8'}} - Change : <span [ngStyle]="{'color': ((element.priceAfter2480min-element.currentPrice) > 0) ? 'green' : 'red' , 'font-weight':'bold'}">{{(element.priceAfter2480min-element.currentPrice)*100/element.currentPrice | number : '1.2-2'}}</span> %</div>

        </mat-card-content>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="BuySellBTCRate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Buy/Sell (BTC)</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-card-content >
        <div style="margin-left: 5%" matTooltip="{{element.recentBuyVolume['5'] + '-' + element.recentSellVolume['5']}}" *ngIf="element.recentBuyVolume && element.recentSellVolume">5min : {{element.recentBuyVolume["5"]/element.recentSellVolume["5"] | number : '1.2-2'}}</div>
        <div style="margin-left: 5%" matTooltip="{{element.recentBuyVolume['15'] + '-' + element.recentSellVolume['15']}}" *ngIf="element.recentBuyVolume && element.recentSellVolume">15min : {{element.recentBuyVolume["15"]/element.recentSellVolume["15"] | number : '1.2-2'}}</div>
        <div style="margin-left: 5%" matTooltip="{{element.recentBuyVolume['30'] + '-' + element.recentSellVolume['30']}}" *ngIf="element.recentBuyVolume && element.recentSellVolume">30min : {{element.recentBuyVolume["30"]/element.recentSellVolume["30"] | number : '1.2-2'}}</div>
        <div style="margin-left: 5%" matTooltip="{{element.recentBuyVolume['60'] + '-' + element.recentSellVolume['60']}}" *ngIf="element.recentBuyVolume && element.recentSellVolume">60min : {{element.recentBuyVolume["60"]/element.recentSellVolume["60"] | number : '1.2-2'}}</div>
        </mat-card-content>
      </mat-cell>
    </ng-container>

    <ng-container style="text-align: center" matColumnDef="BuySellRate">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Buy/Sell </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-card-content style="margin-left: 2%">
        <div matTooltip="{{element.recentBuySymbolVolume['5'] + '-' + element.recentSellSymbolVolume['5']}}" *ngIf="element.recentBuySymbolVolume && element.recentSellSymbolVolume">5min : {{element.recentBuySymbolVolume["5"]/element.recentSellSymbolVolume["5"]  | number : '1.2-2'}}</div>
        <div matTooltip="{{element.recentBuySymbolVolume['15'] + '-' + element.recentSellSymbolVolume['15']}}" *ngIf="element.recentBuySymbolVolume && element.recentSellSymbolVolume">15min : {{element.recentBuySymbolVolume["15"]/element.recentSellSymbolVolume["15"]  | number : '1.2-2'}}</div>
        <div matTooltip="{{element.recentBuySymbolVolume['30'] + '-' + element.recentSellSymbolVolume['30']}}" *ngIf="element.recentBuySymbolVolume && element.recentSellSymbolVolume">30min : {{element.recentBuySymbolVolume["30"]/element.recentSellSymbolVolume["30"] | number : '1.2-2'}}</div>
        <div matTooltip="{{element.recentBuySymbolVolume['60'] + '-' + element.recentSellSymbolVolume['60']}}" *ngIf="element.recentBuySymbolVolume && element.recentSellSymbolVolume">60min : {{element.recentBuySymbolVolume["60"]/element.recentSellSymbolVolume["60"] | number : '1.2-2'}}</div>
        </mat-card-content>

      </mat-cell>
    </ng-container>

    <ng-container  style="text-align: center" matColumnDef="lastUpdateTime" >
      <mat-header-cell *matHeaderCellDef mat-sort-header> last update time </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.lastUpdateTime | date:'short'}}
      </mat-cell>
    </ng-container>
    <ng-container style="text-align: center" matColumnDef="action">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Action</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <a mat-raised-button color="primary" href="/similar/{{element.symbol}}">Find Similar</a>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
