<div *ngIf="taSignal" class="container-fluid row align-content-center">
  <div class="col-12">
    <div class="h2">

      {{taSignal.symbol}}
    </div>
  </div>
  <div  class="col-4">
    <h4 class="col-12 lead">Signals</h4>
    <table class="table col-12 small">
      <thead class="thead-dark">
      <tr>
        <th> Period</th>
        <th> Signals</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td> 30 min</td>
        <td>
          <span *ngFor="let signal of taSignal.bullishSignal['30']">
            {{signal.toLowerCase()}},
          </span>
        </td>
      </tr>
      <tr>
        <td> 60 min</td>
        <td>
          <span *ngFor="let signal of taSignal.bullishSignal['60']">
            {{signal.toLowerCase()}},
          </span>

        </td>
      </tr>
      <tr>
        <td> 120 min</td>
        <td>
          <span *ngFor="let signal of taSignal.bullishSignal['120']">
            {{signal.toLowerCase()}},
          </span>
        </td>
      </tr>
      <tr>
        <td> 240 min</td>
        <td>
          <span *ngFor="let signal of taSignal.bullishSignal['240']">
            {{signal.toLowerCase()}},
          </span>
        </td>
      </tr>
      <tr>
        <td> 1440 min</td>
        <td>
          <span *ngFor="let signal of taSignal.bullishSignal['1440']">
            {{signal.toLowerCase()}},
          </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col-2">
    <h4 class="col-12 lead">Buy Sell Volume</h4>
    <table class="table col-12 small">
      <thead class="thead-dark">
      <tr>
        <th> TimeFrame</th>
        <th> Buy/Sell</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td> 5 min</td>
        <td>
          <div matTooltip="{{taSignal.recentBuySymbolVolume['5'] + '-' + taSignal.recentSellSymbolVolume['5']}}"
               *ngIf="taSignal.recentBuySymbolVolume && taSignal.recentSellSymbolVolume">
            {{taSignal.recentBuySymbolVolume["5"]/taSignal.recentSellSymbolVolume["5"] | number : '1.2-2'}}
          </div>
        </td>
      </tr>
      <tr>
        <td> 15 min</td>
        <td>
          <div matTooltip="{{taSignal.recentBuySymbolVolume['15'] + '-' + taSignal.recentSellSymbolVolume['15']}}"
               *ngIf="taSignal.recentBuySymbolVolume && taSignal.recentSellSymbolVolume">
            {{taSignal.recentBuySymbolVolume["15"]/taSignal.recentSellSymbolVolume["15"] | number : '1.2-2'}}
          </div>
        </td>
      </tr>
      <tr>
        <td> 30 min</td>
        <td>
          <div matTooltip="{{taSignal.recentBuySymbolVolume['30'] + '-' + taSignal.recentSellSymbolVolume['30']}}"
               *ngIf="taSignal.recentBuySymbolVolume && taSignal.recentSellSymbolVolume">
            {{taSignal.recentBuySymbolVolume["30"]/taSignal.recentSellSymbolVolume["30"] | number : '1.2-2'}}
          </div>
        </td>
      </tr>
      <tr>
        <td> 60 min</td>
        <td>
          <div matTooltip="{{taSignal.recentBuySymbolVolume['60'] + '-' + taSignal.recentSellSymbolVolume['60']}}"
               *ngIf="taSignal.recentBuySymbolVolume && taSignal.recentSellSymbolVolume">
            {{taSignal.recentBuySymbolVolume["60"]/taSignal.recentSellSymbolVolume["60"] | number : '1.2-2'}}
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-2">
    <h4 class="col-12 lead">Buy Sell Volume</h4>
    <table class="table col-12 small">
      <thead class="thead-dark">
      <tr>
        <th> TimeFrame</th>
        <th> Buy/Sell (BTC)</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td> 5 min</td>
        <td>
          <div matTooltip="{{taSignal.recentBuyVolume['5'] + '-' + taSignal.recentSellVolume['5']}}"
               *ngIf="taSignal.recentBuyVolume && taSignal.recentSellVolume">
            {{taSignal.recentBuyVolume["5"]/taSignal.recentSellVolume["5"] | number : '1.2-2'}}
          </div>
        </td>
      </tr>
      <tr>
        <td> 15 min</td>
        <td>
          <div matTooltip="{{taSignal.recentBuyVolume['15'] + '-' + taSignal.recentSellVolume['15']}}"
               *ngIf="taSignal.recentBuyVolume && taSignal.recentSellVolume">
            {{taSignal.recentBuyVolume["15"]/taSignal.recentSellVolume["15"] | number : '1.2-2'}}
          </div>

        </td>

      </tr>
      <tr>
        <td> 30 min</td>
        <td>
          <div matTooltip="{{taSignal.recentBuyVolume['30'] + '-' + taSignal.recentSellVolume['30']}}"
               *ngIf="taSignal.recentBuyVolume && taSignal.recentSellVolume">
            {{taSignal.recentBuyVolume["5"]/taSignal.recentSellVolume["30"] | number : '1.2-2'}}
          </div>

        </td>

      </tr>
      <tr>
        <td> 60 min</td>
        <td>
          <div matTooltip="{{taSignal.recentBuyVolume['60'] + '-' + taSignal.recentSellVolume['60']}}"
               *ngIf="taSignal.recentBuyVolume && taSignal.recentSellVolume">
            {{taSignal.recentBuyVolume["60"]/taSignal.recentSellVolume["60"] | number : '1.2-2'}}
          </div>

        </td>

      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-2">
    <h4 class="col-12 lead">BTC MA5</h4>
    <div class="col-12"><google-chart [data]="taSignal.btcMA5_4h"></google-chart></div>
    <div class="col-12"><google-chart [data]="taSignal.btcMA5_1d"></google-chart></div>
  </div>
  <div class="col-6">
    <h4 class="col-12 lead">BTC Signals</h4>
    <div *ngIf="taSignal.btcSignals" class="mat-small">
      <div>1 day : {{taSignal.btcSignals['1440']}}</div>
      <div>4 hour : {{taSignal.btcSignals['240']}}</div>
      <div>2 hour : {{taSignal.btcSignals['120']}}</div>
      <div>1 hour : {{taSignal.btcSignals['60']}}</div>
      <div>30 min : {{taSignal.btcSignals['30']}}</div>
    </div>
  </div>
  <div *ngIf="predictionDto" class="col-6 mat-small" >
    <h4 class="col-12 lead">Prediction Signals</h4>
    <div>After 5 min : {{predictionDto.priceAfter5min  | number : '1.2-8'}} - Change : <span [ngStyle]="{'color': ((predictionDto.priceAfter5min-predictionDto.currentPrice) > 0) ? 'green' : 'red' , 'font-weight':'bold'}">{{(predictionDto.priceAfter5min-predictionDto.currentPrice)*100/predictionDto.currentPrice  | number : '1.2-2'}}</span> %</div>
    <div>After 10 min : {{predictionDto.priceAfter10min  | number : '1.2-8'}} - Change : <span [ngStyle]="{'color': ((predictionDto.priceAfter10min-predictionDto.currentPrice) > 0) ? 'green' : 'red' , 'font-weight':'bold'}">{{(predictionDto.priceAfter10min-predictionDto.currentPrice)*100/predictionDto.currentPrice | number : '1.2-2'}}</span> %</div>
    <div>After 15 min : {{predictionDto.priceAfter15min  | number : '1.2-8'}} - Change : <span [ngStyle]="{'color': ((predictionDto.priceAfter15min-predictionDto.currentPrice) > 0) ? 'green' : 'red' , 'font-weight':'bold'}">{{(predictionDto.priceAfter15min-predictionDto.currentPrice)*100/predictionDto.currentPrice | number : '1.2-2'}}</span> %</div>
    <div>After 30 min : {{predictionDto.priceAfter30min  | number : '1.2-8'}} - Change : <span [ngStyle]="{'color': ((predictionDto.priceAfter30min-predictionDto.currentPrice) > 0) ? 'green' : 'red' , 'font-weight':'bold'}">{{(predictionDto.priceAfter30min-predictionDto.currentPrice)*100/predictionDto.currentPrice | number : '1.2-2'}}</span> %</div>
    <div>After 60 min : {{predictionDto.priceAfter60min  | number : '1.2-8'}} - Change : <span [ngStyle]="{'color': ((predictionDto.priceAfter60min-predictionDto.currentPrice) > 0) ? 'green' : 'red' , 'font-weight':'bold'}">{{(predictionDto.priceAfter60min-predictionDto.currentPrice)*100/predictionDto.currentPrice | number : '1.2-2'}}</span> %</div>
    <div>After 120 min : {{predictionDto.priceAfter120min  | number : '1.2-8'}} - Change : <span [ngStyle]="{'color': ((predictionDto.priceAfter120min-predictionDto.currentPrice) > 0) ? 'green' : 'red' , 'font-weight':'bold'}">{{(predictionDto.priceAfter120min-predictionDto.currentPrice)*100/predictionDto.currentPrice | number : '1.2-2'}}</span> %</div>
    <div>After 240 min : {{predictionDto.priceAfter240min  | number : '1.2-8'}} - Change : <span [ngStyle]="{'color': ((predictionDto.priceAfter240min-predictionDto.currentPrice) > 0) ? 'green' : 'red' , 'font-weight':'bold'}">{{(predictionDto.priceAfter240min-predictionDto.currentPrice)*100/predictionDto.currentPrice | number : '1.2-2'}}</span> %</div>
    <div>After 480 min : {{predictionDto.priceAfter480min  | number : '1.2-8'}} - Change : <span [ngStyle]="{'color': ((predictionDto.priceAfter480min-predictionDto.currentPrice) > 0) ? 'green' : 'red' , 'font-weight':'bold'}">{{(predictionDto.priceAfter480min-predictionDto.currentPrice)*100/predictionDto.currentPrice | number : '1.2-2'}}</span> %</div>
    <div>After 1440 min : {{predictionDto.priceAfter1440min  | number : '1.2-8'}} - Change : <span [ngStyle]="{'color': ((predictionDto.priceAfter1440min-predictionDto.currentPrice) > 0) ? 'green' : 'red' , 'font-weight':'bold'}">{{(predictionDto.priceAfter1440min-predictionDto.currentPrice)*100/predictionDto.currentPrice | number : '1.2-2'}}</span> %</div>
    <div>After 2480 min : {{predictionDto.priceAfter2480min  | number : '1.2-8'}} - Change : <span [ngStyle]="{'color': ((predictionDto.priceAfter2480min-predictionDto.currentPrice) > 0) ? 'green' : 'red' , 'font-weight':'bold'}">{{(predictionDto.priceAfter2480min-predictionDto.currentPrice)*100/predictionDto.currentPrice | number : '1.2-2'}}</span> %</div>
  </div>
  <div class="col-12">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    <mat-table #table  [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="symbol">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </mat-header-cell>
        <mat-cell *matCellDef="let element">
         <div>{{element.symbol}}</div>
         <div>{{element.closeTime  | date:'short'}}</div>
         <div>{{element.price}}</div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="1440">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 1 Day </mat-header-cell>
        <mat-cell *matCellDef="let element" >
         <span *ngFor="let signal of element.bullishSignal['1440']" [ngStyle]="taSignal.bullishSignal['1440'].includes(signal) ? { 'color' : 'red'} : { 'color' : 'black'}">
            {{signal.toLowerCase()}},
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="240">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 4h </mat-header-cell>
        <mat-cell *matCellDef="let element">
           <span *ngFor="let signal of element.bullishSignal['240']" [ngStyle]="taSignal.bullishSignal['240'].includes(signal) ? { 'color' : 'red'} : { 'color' : 'black'}">
            {{signal.toLowerCase()}},
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="120">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 2h </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span *ngFor="let signal of element.bullishSignal['120']" [ngStyle]="taSignal.bullishSignal['120'].includes(signal) ? { 'color' : 'red'} : { 'color' : 'black'}">
            {{signal.toLowerCase()}},
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="60">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 1h </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span *ngFor="let signal of element.bullishSignal['60']" [ngStyle]="taSignal.bullishSignal['60'].includes(signal) ? { 'color' : 'red'} : { 'color' : 'black'}">
            {{signal.toLowerCase()}},
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="30">
        <mat-header-cell *matHeaderCellDef mat-sort-header> 30 min</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span *ngFor="let signal of element.bullishSignal['30']" [ngStyle]="taSignal.bullishSignal['30'].includes(signal) ? { 'color' : 'red'} : { 'color' : 'black'}">
            {{signal.toLowerCase()}},
          </span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="futurePrice">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Future Price</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="mat-small">
            <div class="col-12"><google-chart [data]="element.chartData_futurePrice"></google-chart></div>
          </div>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="btcPrice">
        <mat-header-cell *matHeaderCellDef mat-sort-header>BTC Trend ( MA5 )</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div class="mat-small">
            <div class="col-12"><google-chart [data]="element.chartData_4h"></google-chart></div>
            <div class="col-12"><google-chart [data]="element.chartData_1d"></google-chart></div>
          </div>
        </mat-cell>

      </ng-container>

      <ng-container matColumnDef="btcSignals">
        <mat-header-cell *matHeaderCellDef mat-sort-header>BTC Signal</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div *ngIf="element.btcSignals" class="mat-small">
            <div>1 day : {{element.btcSignals['1440']}}</div>
            <div>4 hour : {{element.btcSignals['240']}}</div>
            <div>2 hour : {{element.btcSignals['120']}}</div>
            <div>1 hour : {{element.btcSignals['60']}}</div>
            <div>30 min : {{element.btcSignals['30']}}</div>
          </div>
        </mat-cell>
      </ng-container>
      <ng-container style="text-align: center" matColumnDef="action">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Action</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a mat-raised-button color="primary" (click)="analyze(element.symbol,element.closeTime)">Analyze</a>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
  <div *ngIf="!loading && (dataSource==null || dataSource.length==0)" style="text-align: center" class="col-12">
    Don't have any coin have similar signals .
  </div>
</div>
