<!--<div style="width: 30%" >-->
<!--<mat-form-field>-->
<!--<input matInput [matDatepicker]="start" [(ngModel)]="startDate" placeholder="Choose a start date">-->
<!--<mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>-->
<!--<mat-datepicker #start></mat-datepicker>-->
<!--</mat-form-field>-->
<!--<mat-form-field>-->
<!--<input matInput [matDatepicker]="end" [(ngModel)]="endDate" placeholder="Choose a end date">-->
<!--<mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>-->
<!--<mat-datepicker #end></mat-datepicker>-->
<!--</mat-form-field>-->
<!--<mat-form-field>-->
<!--<mat-select [(ngModel)]="candelInterval">-->
<!--<mat-option>None</mat-option>-->
<!--<mat-option value="30">30 min</mat-option>-->
<!--<mat-option value="60">1 hour</mat-option>-->
<!--<mat-option value="240">4 hour</mat-option>-->
<!--</mat-select>-->
<!--</mat-form-field>-->
<!--<button mat-raised-button (click)="analyze()" color="primary">Analyze</button>-->
<!--</div>-->
<!--<div>-->
<!--<canvas id="myChart" width="600" height="600"></canvas>-->
<!--</div>-->
