@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~bootstrap/dist/css/bootstrap.css";
/* You can add global styles to this file, and also import other style files */
/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
}
.mat-header-cell.mat-sort-header-sorted {
  color: black;
}
.mat-column-symbol {
  flex: 0 0 10% !important;
}
.mat-column-dateTime {
  flex: 0 0 30% !important;
}
.mat-column-futurePrice {
  flex: 0 0 15% !important;
}
.mat-column-lastUpdateTime {
  flex: 0 0 5% !important;
}
.mat-column-symbolSignal {
  flex: 0 0 5% !important;
}
.mat-column-BuySellBTCRate {
  flex: 0 0 5% !important;
}.mat-column-BuySellRate {
  flex: 0 0 5% !important;
}
